<section class="clients">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="lead">Some awesome companies we've had the pleasure to work with</p>
      </div>
    </div><!--end of row-->

    <div class="row client-row">
      <div class="row-wrapper">
        <div class="col-sm-3 text-center">
          <%= image_tag "client4.png" %>
        </div>

        <div class="col-sm-3 text-center">
          <%= image_tag "client1.png" %>
        </div>

        <div class="col-sm-3 text-center">
          <%= image_tag "client2.png" %>
        </div>

        <div class="col-sm-3 text-center">
          <%= image_tag "client3.png" %>
        </div>
      </div>
    </div><!--end of row-->

    <div class="row client-row">
      <div class="row-wrapper">
        <div class="col-sm-3 text-center">
          <%= image_tag "client5.png" %>
        </div>

        <div class="col-sm-3 text-center">
          <%= image_tag "client6.png" %>
        </div>

        <div class="col-sm-3 text-center">
          <%= image_tag "client7.png" %>
        </div>

        <div class="col-sm-3 text-center">
          <%= image_tag "client8.png" %>
        </div>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <i class="icon-jumbo fa fa-twitter" aria-hidden="true"></i>
        <div id="tweets" data-widget-id="492085717044981760">

        </div>
        <p>
          Follow us <strong><a href="#">@lamthon</a></strong> for more awesome updates
        </p>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="strip bg-secondary-1">
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-6 col-xs-12 pull-left">
        <h3 class="text-white"><strong>HEDSPI-K59</strong>&nbsp;Xin Chao !!!</h3>
      </div>

      <div class="col-sm-4 col-xs-12 pull-right text-right">
        <a href="http://themeforest.net/item/pivot-responsive-multipurpose-html-with-builder-v141/8748103" class="btn btn-primary btn-white" target="_blank">HEDSPI</a>
      </div>
    </div>
  </div>
</section>
</div>

<div class="footer-container">

  <footer class="short bg-secondary-1">
    <div class="container">
      <div class="row ">
        <div class="col-sm-10">
          <span class="sub">© Copright 2018 HEDSPI</span>
          <ul>
            <li><a href="#">Terms Of Use</a></li>
            <li><a href="#">Privacy &amp; Security Statement</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>

        <div class="col-sm-2 text-right">
          <ul class="social-icons">
            <li>
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>

            <li>
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
  </footer>
</div>

